<img id="burgimg" src="/assets/img/burger.jpg">
<h1>Eat Dat Burg!</h1>

<ul class="left">
  {{#each burgs}}
  <li>
    <p>
      {{id}}. {{burger_name}}

      <button class="waves-effect waves-light btn" data-burgid="{{id}}" class="delburg">Devour it!</button>
    </p>
  </li>
  {{/each}}
</ul>

<ul class="right">
  {{#each burgseat}}
  <li>
    <p id="burghere">
      {{id}}. {{burger_name}}
    </p>
  </li>
  {{/each}}
</ul>
<div class="input-field col s6">
<textarea class="materialize-textarea" type="text" name="burger" placeholder="Big Mac"></textarea>
  <button class="waves-effect waves-light btn" type="submit">Submit</button>
</div>
<p id="p1">Enter the burger you want to eat and click Submit!</p>